/* @tailwind base;
@tailwind components;
@tailwind utilities; */

*{
    user-select: none;
}

.el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell{
    background:#29292b !important;
}
.el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf{
    border-color:#29292b !important;
}
.hideScrollBar::-webkit-scrollbar{
    display: none;
}

.absolute-center{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}